.card {
	position: relative;
}
.shared {
	position: absolute;
	height: inherit;
	width: 100%;
}
.media {
	composes: shared;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.content {
	composes: shared;
	color: var(--brand-white);
	margin: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #00000070;
	justify-content: center;
}
.content strong {
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	width: 96%;
}
.content hr {
	display: block;
	position: relative;
	padding: 0;
	margin: calc(var(--spacer) / 6) auto;
	height: 2px;
	width: 25%;
	line-height: 0;
	border: none;
	border-top: 1px solid var(--brand-white);
	border-bottom: 1px solid var(--brand-white);
}
.action {
	margin-top: calc(var(--spacer) / 2);
	color: var(--brand-white);
	font-size: var(--font-size-large);
	background: none;
	padding: calc(var(--spacer) / 6) calc(var(--spacer) / 2);
	border-radius: calc(var(--border-radius) * 5);
	border: 1px solid var(--brand-white);
}
.liked {
	color: var(--brand-grey-dark);
	background-color: var(--brand-grey);
}
.star {
	position: absolute;
	background-color: #ff9800;
	transform: rotate(315deg);
	right: -34px;
	top: -34px;
	display: flex;
	width: calc(var(--spacer) * 2);
	height: calc(var(--spacer) * 2);
	align-items: center;
}
.star i {
	font-style: normal;
	display: inline-block;
	color: #fff;
	transform: rotate(45deg);
	font-size: var(--font-size-h2);
	line-height: 1;
}
.action:hover {
	box-shadow: inset 0 0 0 1px var(--brand-grey-dark);
	color: var(--brand-grey-dark);
	background-color: var(--brand-grey);
	cursor: pointer;
}
