.card {
	position: relative;
}

.content {
	position: absolute;
	height: inherit;
	width: 100%;
}
.media {
	composes: content;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
