.App ul {
	padding: calc(var(--spacer) / 2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.App li {
	margin: calc(var(--spacer) / 2);
	height: calc(100vh / 3.5);
	display: flex;
	border-radius: var(--border-radius);
	box-shadow: 2px 2px 0 0 #d1d3d2;
	overflow: hidden;
}

.App li img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: auto;
}

.loader {
	color: var(--brand-grey-dark);
	text-align: center;
	padding-bottom: var(--spacer);
	font-family: var(--font-family-monospace);
}

.App .alert-error {
	background-color: var(--alert-error);
	color: var(--brand-white);
	font-size: var(--font-size-small);
	text-align: center;
	font-family: var(--font-family-monospace);
}

/* .App .alert-warning {
}
.App .alert-info {
}
.App .alert-success {
} */

/* Small devices (portrait mostly phones, 578px and down) */
@media screen and (max-width: 576px) and (orientation: portrait) {
	.App ul {
		padding: calc(var(--spacer) / 4);
		flex-direction: column;
	}
	.App li {
		height: calc(100vh / 3);
		margin: calc(var(--spacer) / 4);
		width: calc((100%) - (var(--spacer) / 2));
	}
}
/* Small devices (portrait mostly phones, 578px and up) */
@media screen and (min-width: 576px) and (orientation: portrait) {
	.App ul {
		padding: calc(var(--spacer) / 3);
		flex-direction: row;
	}
	.App li {
		margin: calc(var(--spacer) / 3);
		width: calc((100% / 2) - (var(--spacer) / 1.5));
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: landscape) {
	.App li {
		height: calc(100vh / 4);
		width: calc((100% / 3) - var(--spacer));
	}
}
/* Large devices (large laptops and desktops, 1140px and up) */
@media only screen and (min-width: 1140px) {
	.App li {
		width: calc((100% / 4) - (var(--spacer)));
	}
}
